<!--The content below is only a placeholder and can be replaced.-->
<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<p class="message" *ngIf="INFO.dealers.length > 0 || LATEST_INFO.dealers.length > 0">{{MESSAGE}}</p>
<mat-accordion *ngIf="INFO">
  <div *ngFor="let element of INFO.dealers">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>{{element.name}}</strong> <br>
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let v of element.vehicles">
        <mat-card>{{v.vehicleId}} - ({{v.year}}) {{v.make}} {{v.model}}</mat-card>
      </div>
    </mat-expansion-panel>
  </div>
</mat-accordion>

<div *ngIf="POST_INFO && POST_INFO.success" class="success">
  <img src="../assets/baseline-done-24px.svg"> {{POST_INFO.message}} {{POST_INFO.totalMilliseconds}}ms
</div>

<br>
<div>
  <h1 style="text-align:center">
    CODE <a target="_blank" href="https://github.com/ikrish99/vAuto"><img class="git" src="../assets/git.png" ></a>
  </h1>
  

  <pre class="pre-code">
  <code>
    <p class="code">
      {{CODE}}
    </p>
  </code>
</pre>
</div>