.success{
    text-align: right;
    background-color: green;
    color: white;
}

.message {
    font-size: 12px;
    color: grey;
    font-family: monospace;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
}

.code {
    margin-top: -57px;
}

.pre-code {
    margin-top: -32px;
}

.git {
    width: 37px;
    height: 37px;
    float: right;
    cursor: pointer;
}

h1{
    color: #3f51b5;
}